@model EstateProject.Models.PasswordModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="../index1.html">
                    Trang chủ
                </a>
            </li>
            <li class="active">Đổi mật khẩu  </li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <form class="form-horizontal" action="@Url.Action("changePassWord", "User")" method="post" id="formChangePassword" name="formChangePassword">
                    <div id="profile">
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mật khẩu cũ</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mật khẩu mới </label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"> Nhập lại mật khẩu mới</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <div>
                                    <button class="btn btn-info" type="submit" id="btnChangePassword">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Đổi mật khẩu
                                    </button>

                                </div>

                                <button onclick="history.back();" class="btn" type="reset" style="margin-left: 200px;   margin-top: -64px;">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Hủy
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="userId" />
                </form>
            </div>
        </div>
    </div>
</div>